* {
  font-family: 'Open Sans';
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

/* body{
  display: flex;
  flex-direction: column;
} */

.main__section--left {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  position: fixed;
  border-right: 2px solid #6e6e6e;
}

.main__section--right {
  color: #fff;
  background-color: #000;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.article__range {
  border: 2px solid #d0d2d3;
  height: 155px;
  width: 93%;
  padding: 15px;
  margin: 17px auto;
}

h3 {
  color: #404041;
  font-size: 22px;
}

.article__range--form {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.article__label {
  font-weight: 300;
  font-size: 22px;
  color: #6e6e6e;
}

.range__input {
  padding: 5px;
  font-size: 16px;
  width: 180px;
  height: 40px;
}

.range__btn--update {
  align-self: flex-end;
  height: 40px;
  width: 150px;
  border-radius: 25px;
  background-color: #6e6e6e;
  color: #fff;
  font-size: 19px;
  font-weight: 700;
}



