* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: row;
}

/* HEADER */

header {
  align-items: center;
  background-color: #404041;
  display: flex;
  flex-direction: column;
}

.header__format {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.header__h1 {
  color: #DD1972;
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  font-weight: lighter;
  margin: 0;
  margin-top: 8px;
}

.header__h1--bold {
  font-weight: bold;
}

.header__div--format {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.header__h2 {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 20px;
  margin: 0;
}

.header__div--lines {
  background-color: #fff;
  height: 1px;
  width: 90px;
}

.main__section--left {
  background-color: #f7f7f7;
  border-right: 2px solid #6e6e6e;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.article__range {
  background-color: #fff;
  border: 2px solid #d0d2d3;
  height: 155px;
  margin: 17px auto;
  padding: 15px;
  width: 93%;
}

h3 {
  color: #404041;
  font-size: 23px;
  font-weight: 900;
}

.article__range {
  display: flex;
  flex-direction: column;
}

.article__range--format {
  width: 34%;
}

.article__range--form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
  margin-left: 0;
}

.article__label {
  color: #6e6e6e;
  font-size: 22px;
  font-weight: 300;
}

.range__input {
  font-size: 16px;
  height: 40px;
  padding: 5px;
  width: 100%;
}

.range__btn--update {
  align-self: flex-end;
  background-color: #6e6e6e;
  border-radius: 25px;
  color: #fff;
  font-weight: 700;
  font-size: 100%;
  height: 40px;
  outline: none;
  width: 23%;
}

.article__challenge {
  background-color: #fff;
  border: 2px solid #d0d2d3;
  display: flex;
  flex-direction: column;
  margin: 17px auto;
  padding: 15px;
  width: 93%;
}

.challenger2__header{
  margin-top: 40px;
}

p {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 23px;
}

.range__number--bold {
  color: #404041;
  font-weight: 700;
  text-decoration: underline;
}

.article__challenge--form {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.challenge__input--name {
  font-size: 16px;
  height: 40px;
  padding: 5px;
  width: 100%;
}

.article__challenge--format-name {
  /* margin-right: 80px; */
  width: 63%;
}

.article__challenge--format-guess {
  width: 34%;
}

.challenge__input--guess {
  font-size: 16px;
  height: 40px;
  padding: 5px;
  width: 100%;
}

.article__btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
}

button {
  background-color: #6e6e6e;
  border-radius: 25px;
  color: #fff;
  font-size: 100%;
  font-weight: 700;
  height: 40px;
  outline: none;
  width: 31%;
}

button:disabled {
  background-color: #d0d2d3;
}


.article__scores {
  background-color: #fff;
  border: 2px solid #d0d2d3;
  height: 300px;
  margin: 17px auto;
  padding: 10px;
  width: 93%;
}

.article__scores--results {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.article__scores--number {
  font-size: 95px;
  font-weight: 800;
  color: #DD1972;
  margin: 0;
}

h4 {
  color: #6e6e6e;
  font-size: 21px;
}

.scores__current-guess {
  color: #6e6e6e;
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 0;
}

.scores__standing {
  color: #6e6e6e;
  font-size: 25px;
  font-weight: 300;
  margin-top: 0;
}

.article__scores--divider {
  background-color: #d0d2d3;
  height: 225px;
  margin-bottom: 20px;
  width: 2px;
}

/* right side */
.main__section--right {
  background-color: #d0d2d3;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.article__card {
  align-items: center;
  background-color: #fff;
  border: 2px solid #6e6e6e;
  width: 90%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 17px auto;
  }

.article__card--header {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 95%;
  padding-bottom: 10px;
  border-bottom: 2px solid #d0d2d3;

}

.article__card--win {
  align-items: center;
  display: flex;
  flex-direction: column;
}

h5 {
  font-size: 28pt;
  color: #6e6e6e;
  font-family: 'Open Sans', sans-serif;
  margin-top: 15px;
}

.article__card--h1--lighter{
  font-weight: lighter;
  margin-top: -8px;
  margin-bottom: 15px;
}

.card__p--vs{
  margin: 0;
  font-size: 16px;
}


.article__card--data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  border-top: 2px solid #d0d2d3;
  padding-top: 10px;
}

.article__card--img {
  height: 28px;
}

.card__data--p {
  font-size: 18px;
  margin: 0;
  color: #6e6e6e;
}

.card_data--p--bold {
  font-weight: bold;
}


@media screen and (max-width: 600px) {
  main {
    display: flex;
    flex-direction: column;
  }

  .header__h1 {
    font-size: 185%;
  }

  .header__h2 {
    font-size: 74%;
  }

  .header__div--lines {
    width: 14%;
  }

  .main__section--left {
    width: 100%;
    border: none;
}

  .article__range--form {
    flex-direction: column;
      height: 246px;
  }

  .article__label {
    font-size: 100%;
  }

  h3 {
    font-size: 110%;
  }

  .article__range--format {
    width: 100%;
  }

  .range__input {
    border: 1px solid #d0d2d3;
    height: 30px;
  }

  .article__range {
    height: 230px;
    padding: 10px;
    margin: 11px auto;
  }

  .range__btn--update {
    align-self: flex-start;
    height: 34px;
    width: 37%;
  }

  .article__challenge {
    padding: 10px;
    margin: 3px auto;

  }

  p {
    font-size: 14px;
    margin-bottom: 13px;
  }

  .article__challenge--form {
    flex-direction: column;
    width: 100%;
    height: 114px;
  }

  .challenge__input--name {
    border: 1px solid #d0d2d3;
    height: 30px;
  }

  .challenge__input--guess {
    border: 1px solid #d0d2d3;
    height: 30px;
  }

  .article__challenge--format-name {
    width: 100%;
  }

  .article__challenge--format-guess {
    width: 100%;
  }

  button {
    width: 100%;
    height: 30px;
  }

  button:disabled {
    width: 100%;
    height: 30px;
  }

  /* .btn__submit--guess {
    width: 100%;
  } */

  .article__btns {
    margin-top: 17px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 127px;
  }

  .challenger2__header {
    margin-top: 21px;
  }

  .article__scores {
    height: 100%;
  }

  .article__scores--results {
    flex-direction: column;
  }

  .article__scores--divider {
    height: 1.5px;
    width: 83%;
  }

  h4 {
    font-size: 15px;
  }

  .scores__current-guess {
    font-size: 15px;
  }

  .scores__standing {
    font-size: 19px;
  }

  .main__section--right {
    width: 100%;
  }

  .article__card {
    margin: auto;
    margin-top: 15px;
  }

  .article__card-—header {
    display: flex;
    flex-direction: column;
  }

  h5 {
    font-size: 22px;
    Text-align: center;
  }

  .card__data—-p,
  .card__data--p--bold {
    font-size: 14px;
  }

  .card__p—-vs {
    font-size: 12px;
  }

  .article__card--img {
    height: 23px;
  }

}
