* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: row;
}

/* HEADER */

header {
  align-items: center;
  background-color: #404041;
  display: flex;
  flex-direction: column;
}

.header__format {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.header__h1 {
  color: #DD1972;
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  font-weight: lighter;
  margin: 0;
  margin-top: 8px;
}

.header__h1--bold {
  font-weight: bold;
}

.header__div--format {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.header__h2 {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 20px;
  margin: 0;
}

.header__div--lines {
  background-color: #fff;
  height: 1px;
  width: 90px;
}


.main__section--left {
  background-color: #f7f7f7;
  border-right: 2px solid #6e6e6e;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.article__range {
  background-color: #fff;
  border: 2px solid #d0d2d3;
  height: 155px;
  margin: 17px auto;
  padding: 15px;
  width: 93%;
}

h3 {
  color: #404041;
  font-size: 23px;
  font-weight: 900;
}

.article__range {
  display: flex;
  flex-direction: column;
}

.article__range--format {
  width: 30%;
}

.article__range--form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
  margin-left: 0;
}

.article__label {
  color: #6e6e6e;
  font-size: 22px;
  font-weight: 300;
}

.range__input {
  font-size: 16px;
  height: 40px;
  padding: 5px;
  width: 100%;
}

.range__btn--update {
  align-self: flex-end;
  background-color: #6e6e6e;
  border-radius: 25px;
  color: #fff;
  font-weight: 700;
  font-size: 19px;
  height: 45px;
  outline: none;
  width: 170px;
}

.article__challenge {
  background-color: #fff;
  border: 2px solid #d0d2d3;
  display: flex;
  flex-direction: column;
  margin: 17px auto;
  padding: 15px;
  width: 93%;
}

p {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 23px;
}

.range__number--bold {
  color: #404041;
  font-weight: 700;
  text-decoration: underline;
}

.article__challenge--form {
  display: flex;
  flex-direction: row;
}

.challenge__input--name {
  font-size: 16px;
  height: 40px;
  padding: 5px;
  width: 380px;
}

.article__challenge--format-name {
  margin-right: 80px;
  width: 50%;
}

.article__challenge--format-guess {
  width: 50%;
}

.challenge__input--guess {
  font-size: 16px;
  height: 40px;
  padding: 5px;
  width: 100%;
}

.article__btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
}

button {
  background-color: #6e6e6e;
  border-radius: 25px;
  color: #fff;
  font-size: 19px;
  font-weight: 700;
  height: 45px;
  outline: none;
  width: 30%;
}

button:disabled {
  background-color: #d0d2d3;
}

.btn__submit-guess {
  width: 35%;
}

.article__scores {
  background-color: #fff;
  border: 2px solid #d0d2d3;
  height: 300px;
  margin: 17px auto;
  padding: 10px;
  width: 93%;
}

.article__scores--results {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.article__scores--number {
  font-size: 95px;
  font-weight: 800;
  color: #DD1972;
  margin: 0;
}

h4 {
  color: #6e6e6e;
  font-size: 21px;
}

.scores__current-guess {
  color: #6e6e6e;
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 0;
}

.scores__standing {
  color: #6e6e6e;
  font-size: 25px;
  font-weight: 300;
  margin-top: 0;
}

.article__scores--divider {
  background-color: #d0d2d3;
  height: 225px;
  margin-bottom: 20px;
  width: 2px;
}

/* right side */
.main__section--right {
  background-color: #d0d2d3;
  display: flex;
  flex-direction: column;
  /* float: right; */
  width: 50%;
  /* height: 100%; */
}

.article__card {
  align-items: center;
  background-color: #fff;
  border: 2px solid #6e6e6e;
  width: 90%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 17px auto;
  }

.article__card--header {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 95%;
  padding-bottom: 10px;
  border-bottom: 2px solid #d0d2d3;

}

.article__card--win {
  align-items: center;
  display: flex;
  flex-direction: column;
}

h5 {
  font-size: 28pt;
  color: #6e6e6e;
  font-family: 'Open Sans', sans-serif;
  margin-top: 15px;
}

.article__card--h1--lighter{
  font-weight: lighter;
  margin-top: -8px;
  margin-bottom: 15px;
}

.card__p--vs{
  margin: 0;
  font-size: 16px;
}


.article__card--data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  border-top: 2px solid #d0d2d3;
  padding-top: 10px;
}

.article__card--img {
  height: 28px;
}

.card__data--p {
  font-size: 18px;
  margin: 0;
  color: #6e6e6e;
}

.card_data--p--bold {
  font-weight: bold;
}
